{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container d-flex justify-content-around offset-navbar my-sm-5">
        <div class="col-10">
          <div class="card pb-2">
              <img src="{% static attraction.imagePath %}" class="card-img-top" alt="attraction" />
              <div class="card-body">
                <h3 class="text-center page-title">{{ attraction.name }}</h3>
                <p class="card-text">
                  <dl class="row">
                    <dt class="col-sm-5">Opening Hours:</dt>
                    <dd class="col-sm-7">{{ attraction.opening_hours }}</dd>

                    <dt class="col-sm-5">Location:</dt>
                    <dd class="col-sm-7">{{ attraction.location }}</dd>

                    <dt class="col-sm-5">Accessibility</dt>
                    <dd class="col-sm-7">{{ attraction.accessibility }}</dd>

                    <dt class="col-sm-5">Entry Fee:</dt>
                    {% if attraction.entry_fee == 0 %}
                      <dd class="col-sm-7">Free</dd>
                    {% else %}
                      <dd class="col-sm-7">{{ attraction.entry_fee }} MAD</dd>
                    {% endif %}
                  </dl>
                </p>  
                <div class="mb-1 d-flex justify-content-around">
                  <a href="{{ attraction.mapURL }}" class="detail-link">View on the map</a>
                </div>
              </div>
          </div>
        </div>
</div>

{% endblock %}
