{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container d-flex justify-content-around offset-navbar my-sm-5">
        <div class="col-10">
          <div class="card pb-2">
              <img src="{% static hotel.imagePath %}" class="card-img-top" alt="hotel" />
              <div class="card-body">
                <h3 class="text-center page-title">{{ hotel.name }}</h3>
                <p class="card-text">
                  <dl class="row">
                    <dt class="col-sm-5">Location:</dt>
                    <dd class="col-sm-7">{{ hotel.location }}</dd>

                    <dt class="col-sm-5">Amenities:</dt>
                    <dd class="col-sm-7">{{ hotel.amenities }}</dd>

                    <dt class="col-sm-5">Services:</dt>
                    <dd class="col-sm-7">{{ hotel.services }}</dd>

                    <dt class="col-sm-5">Dining options:</dt>
                    <dd class="col-sm-7">{{ hotel.dining_options }}</dd>

                    <dt class="col-sm-5">Pet policy:</dt>
                    <dd class="col-sm-7">{{ hotel.pet_policy }}</dd>

                    <dt class="col-sm-5">Starting rate:</dt>
                    <dd class="col-sm-7">{{ hotel.starting_price }} MAD</dd>
                  </dl>
                </p>
                <div class="mb-1 d-flex justify-content-around">
                  <a href="{{ hotel.mapURL }}" class="detail-link">View on the map</a>
                </div>
              </div>
          </div>
        </div>
</div>

{% endblock %}