{% extends 'basetemp.html' %}
{% load static %}
{% block content %}
<div class="carousel slide" data-bs-ride="carousel" id="carouselExampleIndicators">
    <div class="carousel-indicators">
        <button aria-label="Slide 1" class="active" data-bs-slide-to="0" data-bs-target="#carouselExampleIndicators" type="button"></button> <button aria-label="Slide 2" data-bs-slide-to="1" data-bs-target="#carouselExampleIndicators" type="button"></button> <button aria-label="Slide 3" data-bs-slide-to="2" data-bs-target="#carouselExampleIndicators" type="button"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img alt="..." class="d-block w-100" src="{% static 'img/marrakech_horizon1.jpg' %}">
            <div class="carousel-caption">
                <h5>Welcome To Your Dream</h5>
                <p>Indulge in Marrakesh's opulent charm, where every moment is a decadent dream waiting to be savored.</p>
                <p><a class="btn btn-warning mt-3" href="#catalog">Learn More</a></p>
            </div>
        </div>
        <div class="carousel-item">
            <img alt="..." class="d-block w-100" src="{% static 'img/Jemaa el-Fna.jpg' %}">
            <div class="carousel-caption">
                <h5>Canvas of Culture, Tapestry of Spirituality</h5>
                <p>Wander the narrow alleys of the Medina, where centuries-old craftsmanship coexists with trendy boutiques and art galleries, embodying the city's timeless allure.</p>
                <p><a class="btn btn-warning mt-3" href="#catalog">Learn More</a></p>
            </div>
        </div>
        <div class="carousel-item">
            <img alt="..." class="d-block w-100" src="{% static 'img/Menara Gardens.jpg' %}">
            <div class="carousel-caption">
                <h5>Harmony in Contrast</h5>
                <p>Experience the juxtaposition of tranquility and vibrancy in Marrakesh, from serene sunsets over tranquil riads to the pulsating energy of the bustling nightlife. </p>
                <p><a class="btn btn-warning mt-3" href="#catalog">Learn More</a></p>
            </div>
        </div>
    </div><button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleIndicators" type="button"><span aria-hidden="true" class="carousel-control-prev-icon"></span> <span class="visually-hidden">Previous</span></button> <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExampleIndicators" type="button"><span aria-hidden="true" class="carousel-control-next-icon"></span> <span class="visually-hidden">Next</span></button>
</div>

<!-- about section starts -->
<section class="about section-padding" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-12">
                <div class="about-img"><img alt="" class="img-fluid" src="{% static 'img/street.jpeg' %}"></div>
            </div>
            <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
                <div class="about-text">
                    <h2 class="page-title">SAY HELLO TO THE RED CITY</h2>
                    <p>
                        Between tradition and modernity, Marrakech is the promise of unequalled sensations. Strolling the Jemaa El-Fna square and the souks with their shimmering colours and oriental smells, the red city offers you a complete change of scenery. Horse-drawn carriage rides, sunny terraces, travelling artists and other day and night activities will give a tates of wishful comeback.
                    </p>
                    <a class="btn btn-warning" href="#catalog">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</section><!-- about section Ends -->


<!-- catalog section Starts -->
<section class="services section-padding" id="catalog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center pb-5">
                    <h2 class="page-title">Explore our catalog</h2>
                    <p><h6>We offer an online guide to the <span class="detail-link">red city</span> like no other.</h6></p>
                    <p><h6><span style="font-weight: bold;">Remember</span>, even with our detailed guide, there is always more to see and discover on your own, put some sunscreen on and wander around!</h6></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-4">
                <div class="card text-white text-center bg-dark pb-2">
                    <img src="{% static 'img/Koutoubia Mosque.jpg' %}" class="card-img-top"/>
                    <div class="card-body">
                      <h4>Attractions</h4>
                      <p class="card-text">
                        Discover Marrakesh's timeless allure as ancient walls whisper tales of dynasties past, bustling souks beckon with vibrant treasures, and hidden gardens offer sanctuaries of serenity amidst the city's vibrant pulse.
                      </p>
                      <div>
                        <a href="{% url 'attractions' %}" class="stretched-link detail-link">Discover</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-white text-center bg-dark pb-2">
                        <img src="{% static 'img/riad3.jpg' %}" class="card-img-top" />
                        <div class="card-body">
                          <h4>Hotels</h4>
                          <p class="card-text">
                            Retreat to Marrakesh's luxurious havens where ancient architecture meets modern comfort, where every room is a sanctuary of elegance and tranquility, and where hospitality is woven into every intricate detail.
                          </p>
                          <div>
                            <a href="{% url 'hotels' %}" class="stretched-link detail-link">Discover</a>
                        </div>
                        </div>
                      </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                <div class="card text-white text-center bg-dark pb-2">
                    <img src="{% static 'img/restaurant1.jpg' %}" class="card-img-top" />
                    <div class="card-body">
                      <h4>Restaurants</h4>
                      <p class="card-text">
                        Savor the flavors of Marrakesh as spices mingle in a symphony of taste, where every bite tells a story of culinary craftsmanship and every meal becomes an exquisite journey through the heart of Moroccan cuisine.
                      </p>
                      <div>
                        <a href="{% url 'restaurants' %}" class="stretched-link detail-link">Discover</a>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>
<!-- catalog section Ends -->

<!-- Featured starts -->
<section class="portfolio section-padding" id="Featured">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center pb-5">
                    <h2 class="page-title">Featured</h2>
                    <p>Checkout our handpicked selection of attractions around the city for some breathtaking memories!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-4">
                <div class="card text-light text-center bg-white pb-2">
                    <div class="card-body text-dark">
                        <a href="{% url 'attractionDetail' 10 %}" class="stretched-link"></a>
                        <div class="img-area mb-4"><img alt="" class="img-fluid" src="{% static 'img/Le Jardin Secret.jpg' %}"></div>
                        <h3 class="card-title">Le Jardin Secret</h3>
                        <p class="lead">A hidden gem amidst the bustling medina, where lush gardens, stunning architecture, and serene fountains create a tranquil escape from the city's vibrant chaos.</p>
                        <a href="{% url 'attractionDetail' 10 %}" class="stretched-link detail-link">View</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4">
                <div class="card text-light text-center bg-white pb-2">
                    <div class="card-body text-dark">
                        <div class="img-area mb-4"><img alt="" class="img-fluid" src="{% static 'img/Royal Mansour Marrakech Hotel.jpg' %}"></div>
                        <h3 class="card-title">Royal Mansour Hotel</h3>
                        <p class="lead">A palatial oasis in the heart of the ancient medina. Indulge in regal comfort and personalized service, where every moment resonates with Moroccan opulence.</p>
                        <a href="{% url 'hotelDetail' 1 %}" class="stretched-link detail-link">View</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4">
                <div class="card text-light text-center bg-white pb-2">
                    <div class="card-body text-dark">
                        <div class="img-area mb-4"><img alt="" class="img-fluid" src="{% static 'img/Dar Yacout.jpg' %}"></div>
                        <h3 class="card-title">Dar Yacout</h3>
                        <p class="lead">A feast for the senses awaits within its ornate walls, where exquisite cuisine and captivating ambiance intertwine seamlessly. A must-experience destination in the Medina.</p>
                        <a href="{% url 'restaurantDetail' 11 %}" class="stretched-link detail-link">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- featured ends -->

<!-- FAQ starts -->
<section class="FAQ section-padding" id="FAQ">
    <div class="container">
        <div class="section-header text-center pb-5">
            <h2 class="page-title">FAQ</h2>
            <p><h6>Here are some of the most asked questions by fellow tourists in <span class="detail-link">Marrakesh</h6></p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12 col-12">
                <div class="about-img"><img class="img-fluid FAQ-img" src="{% static 'img/riad2.jpg' %}"></div>
            </div>
            <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-3">
                <div class="about-text">
                    <dl class="row">
                        <dt>What is the best time to visit Marrakech?</dt>
                        <dd>The best time to visit Marrakech is during the spring (March to May) or fall (September to November) when the weather is mild and pleasant.</dd>

                        <dt>What is the currency used in Marrakech?</dt>
                        <dd>The currency used in Marrakech, as well as throughout Morocco, is the Moroccan Dirham (MAD).</dd>
                        
                        <dt>Do I need a visa to visit Marrakech?</dt>
                        <dd>Visitors from many countries can enter Morocco visa-free for stays of up to 90 days. However, it's always best to check visa requirements based on your nationality before traveling.</dd>
                        
                        <dt>What are the must-visit attractions in Marrakech?</dt>
                        <dd>Some of the must-visit attractions in Marrakech include Jardin Majorelle, Djemaa el-Fna square, Bahia Palace, Saadian Tombs, and the Koutoubia Mosque.</dd>

                        <dt>Is it safe to visit Marrakech?</dt>
                        <dd>Marrakech is generally a safe city for tourists. However, as with any destination, it's important to remain vigilant, especially in crowded areas, and to take precautions against petty theft.</dd>

                        <dt>What is the traditional Moroccan cuisine like?</dt>
                        <dd>Traditional Moroccan cuisine is flavorful and diverse, featuring dishes such as tagine (slow-cooked stews), couscous, pastilla (a savory pie), and various grilled meats. Don't miss trying Moroccan mint tea, a staple beverage.</dd>

                        <dt>What should I wear when visiting Marrakech?</dt>
                        <dd>Marrakech is a conservative city, so it's best to dress modestly, especially when visiting religious sites. Women may want to wear loose-fitting clothing that covers the shoulders and knees, while men should avoid wearing shorts in certain areas.</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</section><!-- FAQ ends -->

<!-- Contact starts -->
<section class="contact section-padding" id="contact">
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center pb-5">
                    <h2 class="page-title">Contact Us</h2>
                    <p>View the source code of this project on Github:</p>
                    <a href="https://github.com/MohamedLahlami/DreamTravel---A-tourism-guide-web-app-with-AI-assistance-for-Marrakesh" class="detail-link">
                        <i class="bi bi-github">Github</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section><!-- contact ends -->

{% endblock %}