<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}"><span class="navbar-title">Dream</span>Travel</a> <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'attractions' %}">Attractions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'hotels' %}">Hotels</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'restaurants' %}">Restaurants</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#FAQ">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact Us</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="btn btn-secondary" href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                <li class="nav-item">
                  <a class="btn btn-secondary" href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>