{% extends 'basetemp.html' %}
{% load static %}
{% block content %}
<div class="container py-5">
    <h1 class="text-center offset-navbar page-title">RESTAURANTS</h1>
    <p class="lead text-center col-12 col-sm-10 mx-auto mx-sm-auto mt-3">
        Savor the flavors of Marrakesh as spices mingle in a symphony of taste, where every bite tells a story of culinary craftsmanship and every meal becomes an exquisite journey through the heart of Moroccan cuisine.
    </p>
    {% if hotels %}
    <div class="row row-cols-1 row-cols-md-3 g-4 py-5">
      {% for restaurant in restaurants %}
      <div class="col-12 col-md-12 col-lg-4">
        <div class="card pb-2">
            <img src="{% static 'img/koutoubia.jpg' %}" class="card-img-top" alt="restaurant" />
            <div class="card-body">
              <h4>{{ restaurant.name }}</h4>
              <p class="card-text">
                <dl class="row">
                    <dt class="col-sm-5">Atmosphere: </dt>
                    <dd class="col-sm-7">{{ restaurant.atmosphere }}</dd>
                    <dt class="col-sm-5">Price range: </dt>
                    <dd class="col-sm-7">{{ restaurant.price_range }}</dd>
                </dl>
              </p>
              <div class="mb-1 d-flex justify-content-around">
                <a href="{% url 'restaurantDetail' restaurant.id %}" class="detail-link">Discover</a>
              </div>
            </div>
        </div>
      </div>
      {% endfor %}
    {% endif %}
</div>
{% endblock %}